<div class="form-group">
    
    <div class="controls">
        <label for="name">Titre</label><br>
      <input type="text" id="titre" class="floatLabel" name="titre" value="<%= post.titre %>">
      
    </div>
    <div class="controls">
    <label for="titre">Auteur</label><br>
      <input type="text" id="auteur" class="floatLabel" name="auteur" value="<%= post.auteur %>">
      
    </div>       
    <div class="controls">
        <label for="comments">Resume</label><br>
        <textarea name="resume" class="floatLabel" id="contenu" ><%= post.resume %></textarea>
        
      
    </div>
    <div class="controls">
      <label for="comments">Contenu</label><br>
      <textarea name="contenu" class="floatLabel" id="contenu" ><%= post.content %></textarea>
      
    
  </div>
    <button type="submit" class="btn btn-primary">Enregistrer</button>
    <a href="/" class="btn btn-secondary">Annuler</a>
      
</div>
 
     
